@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
.rec .rec-arrow {
  display: none !important;
}
.rec-dot {
  width: 10px !important;
  height: 12px !important;
  box-shadow: none;
  background-color: whitesmoke !important;
}
.rec-dot_active {
  background-color: #219653 !important;
  border: none !important;
  box-shadow: none !important;
}

.card-desc {
  visibility: hidden;
}
.card:hover .card-desc {
  visibility: visible;
}

.card .child1 {
  transform: translateY(20px);
  transition: transform 1s;
}
.card:hover .child1 {
  transform: translateY(0);
  color: white;
}
.card:hover {
  background-image: url("/images/card.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card:hover .overlay {
  background: rgba(0, 0, 0, 0.6);
}

.card:hover .logo {
  filter: invert(1);
}
